@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
    Tailwind colors listed here: https://tailwindcss.com/docs/customizing-colors
    
    Why colors are written in rgb format (100% 0 0) instead of hex (#ffffff)
    https://tailwindcss.com/docs/customizing-colors#using-css-variables 
*/
@layer base {
	/* light theme */
	.theme-sleek {
		/* Tailwind pink-500 #ec4899 */
		--color-primary-main: 236 72 153;
		/* Tailwind pink-300 #f9a8d4 */
		--color-secondary-main: 244 114 182;

		/* Tailwind gray-700 #374151 */
		--color-text-body: 55 65 81;
		/* Tailwind gray-700 #374151 */
		--color-text-heading: 55 65 81;
		/* Tailwind gray-700 #374151 */
		--color-text-bold: 55 65 81;
		/* Tailwind gray-500 #6b7280 */
		--color-text-muted: 107 114 128;
		/* Tailwind pink-500 #ec4899 */
		--color-text-link: 236 72 153;
		/* black */
		--color-text-code: 0% 0 0;
		/* black */
		--color-text-selection: 0% 0 0;

		/* white */
		--color-bg-body: 100% 0 0;
		/* Tailwind pink-50 #fdf2f8 */
		--color-bg-code: 253 242 248;
		/* Tailwind pink-200 #fbcfe8 */
		--color-bg-selection: 251 207 232;
		/* white */
		--color-text-cta-btn: 100% 0 0;

		/* Tailwind pink-100 #fce7f3 */
		--color-border-code: 252 231 243;
	}

	/* dark theme */
	.theme-sleek.dark {
		/* Tailwind lime-400 #a3e635 */
		--color-primary-main: 91% 0.28 128.85;
		/* Tailwind lime-300 #bef264 */
		--color-secondary-main: 89.72% 0.179 126.67;

		/* Tailwind stone-300 #d6d3d1 */
		--color-text-body: 86.87% 0.004 56.37;
		/* white */
		--color-text-heading: 100% 0 0;
		/* white */
		--color-text-bold: 100% 0 0;
		/* Tailwind stone-400 #a8a29e */
		--color-text-muted: 71.61% 0.009 56.26;
		/* Tailwind lime-400 #a3e635 */
		--color-text-link: 89% 0.27 128.85;
		/* black */
		--color-text-code: 100% 0 0;
		/* black */
		--color-text-selection: 0% 0 0;

		/* #0e141b */
		--color-bg-body: 18.85% 0.017 252.59;
		/* Tailwind lime-500 #84cc16 */
		--color-bg-code: 76.81% 0.2162 130.85;
		/* Tailwind lime-300 #bef264 */
		--color-bg-selection: 89.72% 0.179 126.67;
		/* black */
		--color-text-cta-btn: 0% 0 0;

		/* Tailwind lime-100 #ecfccb */
		--color-border-code: 96.69% 0.066 122.33;
	}

	:root {
		font-family: theme('fontFamily.body');
		background-color: theme('colors.bg.body');
		color: theme('colors.text.body');
		/* base font-size 1px larger for better visibility */
		font-size: 1.0625em;
		line-height: 1.75;
		scroll-behavior: smooth;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: theme('fontFamily.heading');
	}
}

@layer components {
	/* ------ GLOBAL STYLES - START ------ */
	strong {
		font-weight: 600;
		color: theme('colors.text.bold');
	}

	mark {
		background-color: theme('colors.bg.selection');
		color: theme('colors.text.selection');
	}

	/* 
        if you want an anchor tag to not have this style, 
        just add a class `unset` to it. 
    */
	a:not(.unset) {
		text-decoration: none;
		background-repeat: no-repeat;
		background-size: 100% 1.5px;
		background-position: 0 100%;
		background-image: linear-gradient(
			to right,
			theme('colors.text.link'),
			theme('colors.text.link')
		);
	}

	a:not(.unset):hover {
		color: theme('colors.text.link');
	}

	code:not(pre code):not(.unset) {
		background-color: theme('colors.bg.code');
		color: theme('colors.text.code');
		padding: 0.125rem 0.25rem;
		border-radius: 0.25rem;
		font-size: 0.875em;
		font-weight: 600;
		border: 1px solid theme('colors.border.code');
		margin-bottom: 1.25em;
	}

	html.dark code:not(pre code) {
		background-color: rgb(var(--color-bg-code) / 0.15);
		border-color: rgb(var(--color-border-code) / 0.15);
	}

	ul:not(.unset):not(:where([class~='prose'] *)) {
		padding-left: 0;
		list-style: none;
	}

	ul:not(:where([class~='prose'] *)) > li {
		position: relative;
		padding-left: 1.375rem;
	}

	ul:not(.unset):not(:where([class~='prose'] *)) > li::before {
		position: absolute;
		left: 0;
		content: '»';
		color: rgb(var(--color-text-muted));
	}

	ol:not(.unset):not(:where([class~='prose'] *)) {
		padding-left: 1.125rem;
	}

	ol:not(.unset):not(:where([class~='prose'] *)) > li::marker {
		color: rgb(var(--color-text-muted));
	}

	ul:not(.unset):not(:where([class~='prose'] *)) > li,
	ol:not(.unset):not(:where([class~='prose'] *)) > li {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	::selection {
		background: theme('colors.bg.selection');
		color: theme('colors.text.selection');
	}

	/* ------ GLOBAL STYLES - END ------ */

	/* ------ REUSABLE UTILS - START ------ */
	.animated-link {
		position: relative;
		box-decoration-break: clone;
		text-decoration: none;
	}

	.animated-link:hover:after {
		transform: translateZ(0) scale(1);
	}

	.animated-link:after {
		left: 0;
		right: 0;
		bottom: -3px;
		content: '';
		height: 2px;
		position: absolute;
		transform: translateZ(0) scaleX(0);
		transform-origin: left center;
		transition: all 0.15s ease-in-out;
		background-image: linear-gradient(
			to right,
			theme('colors.text.link'),
			theme('colors.text.link')
		);
	}

	.animated-link.show:after {
		transform: translateZ(0) scale(1);
	}

	.highlight {
		position: relative;
	}

	.highlight:before,
	.highlight:after {
		content: ' ';
		display: block;
		border-radius: 15%;
		height: 100%;
		width: 115%;
		margin-left: -5%;
		margin-right: -5%;
		position: absolute;
		transform: rotate(-5deg);
		/* transform: skew(-15deg); */
	}

	.highlight:before {
		background: theme('colors.primary.main');
		z-index: -100;
	}

	.highlight {
		color: theme('colors.bg.body');
		z-index: 1;
	}

	.textOutline {
		text-shadow: -1px -1px 0 theme('colors.text.body'),
			1px -1px 0 theme('colors.text.body'), -1px 1px 0 theme('colors.text.body'),
			1px 1px 0 theme('colors.text.body');
	}

	/* ------ REUSABLE UTILS - END ------ */
}
