<div
  class="group relative w-64 h-[19.5rem] overflow-hidden rounded-lg border border-gray-400/50 bg-gray-700 py-6 px-6 text-gray-200 ring-1 ring-gray-900/5 opacity-25"
>
  <div class="absolute inset-0 z-10 h-36">
    <img
      src="https://res.cloudinary.com/sub50k/image/upload/f_auto,q_auto/v1677720102/audio/aric-improta/banner.jpg"
      class="h-full w-full object-cover opacity-80 grayscale"
      alt="banner"
    />
  </div>
  <div
    class="absolute inset-0 z-10 h-36 bg-gradient-to-b from-transparent to-gray-700"
  >
  </div>
  <!-- Top banner -->
  <div class="relative z-20 h-32">
    <div class="flex flex-col items-center">
      <img
        src="https://res.cloudinary.com/sub50k/image/upload/f_auto,q_auto/v1677498205/audio/aric-improta/avatar.png"
        class="h-16 rounded-full border-2 border-gray-700"
        alt="avatar"
      />
      <div class="mt-6 prose">
        <h2 class="border-b border-gray-200 text-xl uppercase text-gray-200">
          Aric Improta
        </h2>
      </div>
    </div>
  </div>
  <div class="mt-4 divide-y divide-gray-300/50">
    <div class="pb-4 text-sm">
      <p class="line-clamp-3">
        Aric Improta is a Grammy nominated drummer who plays for the bands Fever
        333 and Night Verses. He's a Los Angeles native primed to be at the
        forefront of a new generati
      </p>
    </div>
    <div class="ml-2 pt-4 text-center font-mono text-lg uppercase">
      monthly: 50k+
    </div>
  </div>
</div>
