.cardListDown {
    animation-duration: 60s;
    animation-name: scrollDown;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scrollDown {
    0% {transform: translateY(-50.6%);}
    100% {transform: translateY(0%);}
}

.cardListUp {
    animation-duration: 60s;
    animation-name: scrollUp;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scrollUp {
    0% {transform: translateY(0);}
    100% {transform: translateY(-50.6%);}
}