.cardListDown {
    animation-duration: 60s;
    animation-name: scrollDown;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scrollDown {
    0% {transform: translateY(-50.6%);}
    100% {transform: translateY(0%);}
}

.cardListUp {
    animation-duration: 60s;
    animation-name: scrollUp;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scrollUp {
    0% {transform: translateY(0);}
    100% {transform: translateY(-50.6%);}
}

.artistCards {
    --cardHeight: 26vh;
}

.artistCards > div {
    animation-duration: 6s;
    animation-timing-function: linear;
    position: absolute;
    top: 0;
}

.scrollDownCard {
    animation-name: scrollDownward;
}

@keyframes scrollDownward {
    0% {transform: translateY(calc(-1 * (var(--cardHeight))));}
    100% {transform: translateY(110vh);}
}