.titleExpanding {
    display: flex;
    justify-content: space-between;
    transition: width 500ms ease-in-out;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    -o-transition: width 500ms ease-in-out;
}

@media (min-width: 768px) {
    .titleExpanding {
        width: 7.5rem;
    }

    .wrapper:hover .titleExpanding {  
        width: 19rem;
    }
}

@media (max-width: 767px) {
    .titleExpanding {
        width: 5.5rem;
    }

    .wrapper:hover .titleExpanding {  
        width: 15.1rem;
    } 
}

.title9 {
    transition: opacity 150ms ease-in-out, visibility 500ms ease;
    -webkit-transition: opacity 150ms ease-in-out, visibility 500ms ease;
    -moz-transition: opacity 150ms ease-in-out, visibility 500ms ease;
    -o-transition: opacity 150ms ease-in-out, visibility 500ms ease;
    opacity: 1;
    visibility: visible;
    animation: flicker 2s infinite;
}

@keyframes flicker {
    0% {opacity:0;}
    9% {opacity:0;}
    10% {opacity:.5;}
    13% {opacity:0;}
    20% {opacity:.5;}
    25% {opacity:1;}
}

.wrapper:hover .title9 {  
    visibility: hidden;
    opacity: 0;
}


.titleExpanded {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
}

.wrapper:hover .titleExpanded {  
    width: 0;
    animation: type 250ms steps(60, end) 300ms forwards; 
    transition: width 500ms ease-in-out;
}

@keyframes type{ 
  to { width: 18rem; } 
} 

.unicorn-cursor {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤘</text></svg>")
      16 0,
    auto;
}