---
import "./title.css";
---

<h1 class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden wrapper">
  <!-- <span class="flex titleInner"> -->
  <span
    class="flex titleInner bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
  >
    <span class="mr-4">Matt</span>
    <span class="titleExpanding">
      <span>M</span>
      <span class="title9">9</span>
      <!-- <span class="titleExpanded">cGillivra</span> -->
      <span>y</span>
    </span>
  </span>
</h1>
