---
import HeaderLink from './HeaderLink.astro';
import DarkModeToggle from './DarkModeToggle.astro';
---

<header>
	<a
		class="unset absolute left-[50%] -top-[100rem] z-10 translate-x-[-50%] bg-white px-8 py-2 text-black focus:top-[initial]"
		href="#main"
	>
		Skip to content
	</a>
	<nav>
		<section class="text-text-bold">
			<ul class="unset flex gap-4 [&>li]:p-0">
				<li>
					<HeaderLink href="/" aria-label="home">
						<img
							alt="Sub50k logo"
							class="h-6 w-6 grayscale hover:grayscale-0"
							src="https://res.cloudinary.com/sub50k/image/upload/f_auto,q_auto:low/v1677465040/site/50kLogo.png"
						/>
					</HeaderLink>
				</li>
				<li>
					<HeaderLink href="/artists" aria-label="home">ARTISTS</HeaderLink>
				</li>
			</ul>
		</section>
	</nav>
	<div
		class="flex content-center items-center justify-self-end py-2 text-text-bold max-[375px]:hidden"
	>
		<a
			class="unset ml-4 text-xl hover:text-text-link"
			href="https://github.com/UmungoBungo/sub50k.com"
		>
			<i class="fa-brands fa-github" aria-hidden="true" title="Sub50k on GitHub"
			></i>
			<span class="fa-sr-only">sub50k on GitHub</span>
		</a>
		<a
			class="unset ml-4 text-xl hover:text-text-link"
			href="/rss.xml"
			title="RSS Feed"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="h-6 w-6"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
				></path>
			</svg>
			<span class="fa-sr-only">sub50k RSS Feed</span>
		</a>
	</div>
	<DarkModeToggle transition:persist />
</header>
<style>
	header {
		grid-area: header;
		display: grid;
		align-items: center;
		grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
				0,
				max-content
			);
	}
</style>
