<div
	class="mx-auto flex h-44 w-full max-w-lg items-center justify-between px-2 py-4"
>
	<div class="flex h-full flex-col justify-start">
		<div class="flex h-10 items-center">
			<h1 class="text-2xl font-extrabold text-primary-main sm:text-4xl">
				SUB 50k
			</h1>
		</div>
		<div
			class="mt-1 flex h-10 flex-col text-sm text-text-muted sm:h-6 sm:flex-row sm:items-center"
		>
			<span>Great artists.</span>
			<span class="ml-0 sm:ml-1">Under 50k listeners.</span>
		</div>
	</div>
	<div class="flex h-full flex-col items-end">
		<div class="flex h-10 items-center">
			<form action="https://tinyletter.com/Sub50k">
				<button
					type="submit"
					class="inline-flex items-center gap-x-1.5 rounded-md border border-gray-300 bg-primary-main py-1.5 px-2.5 align-middle text-sm font-semibold text-text-ctaBtn shadow-sm hover:bg-bg-selection hover:text-text-selection focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:py-1.5"
				>
					Subscribe
					<i class="fa-solid fa-envelope -mr-0.5"></i>
				</button>
			</form>
		</div>
		<div class="mt-1 flex h-10 items-center justify-center text-sm sm:h-6">
			weekly
			<img
				class="mx-1 h-6 w-6"
				src={`https://res.cloudinary.com/sub50k/image/upload/v1679400647/site/pinching-hand.svg`}
				alt="pinching hand"
			/>
			newsletter
		</div>
	</div>
</div>
